<!-- <br /><br />

<div class="box">
    <h4 class="boxheader">Links to help maintain/improve Productivity</h4>
    <br /><br /><br />
    <h4 class="section">About Productivity:</h4>
    <a target="_blank" href="https://www.huffpost.com/entry/the-science-of-productivity_b_59cca423e4b02ba6621ffa99">
        https://www.huffpost.com/entry/the-science-of-productivity_b_59cca423e4b02ba6621ffa99</a> <br /><br />
    <a target="_blank" href="https://www.tonyrobbins.com/productivity-performance/what-is-productivity-really/">
        https://www.tonyrobbins.com/productivity-performance/what-is-productivity-really/</a> <br /><br />
    
    <h4 class="section">Productivity Statistics:</h4>
    <a target="_blank" href="https://dynamicsignal.com/2019/06/03/employee-productivity-statistics/">
        https://dynamicsignal.com/2019/06/03/employee-productivity-statistics/</a> <br /><br />
    <a target="_blank" href="https://www.formstack.com/blog/2019/workplace-productivity-statistics/">
        https://www.formstack.com/blog/2019/workplace-productivity-statistics/</a> <br /><br />

    <h4 class="section">Work Productivity:</h4>
    <a target="_blank" href="https://www.nytimes.com/guides/business/how-to-improve-your-productivity-at-work">
        https://www.nytimes.com/guides/business/how-to-improve-your-productivity-at-work</a> <br /><br />    
    <a target="_blank" href="https://snacknation.com/blog/increase-productivity-at-work/">
        https://snacknation.com/blog/increase-productivity-at-work/</a> <br /><br />
    
    <h4 class="section">Home Productivity:</h4>
    <a target="_blank" href="https://www.lifesize.com/en/video-conferencing-blog/how-to-be-productive-at-home">
        https://www.lifesize.com/en/video-conferencing-blog/how-to-be-productive-at-home</a> <br /><br />
    <a target="_blank" href="https://blog.rescuetime.com/work-from-home-productivity-data/">
        https://blog.rescuetime.com/work-from-home-productivity-data/</a> <br /><br />     
</div> -->


<br /><br />
<div class="band">
    <header>
        <h1>About Productivity</h1>
    </header>
    <div class="item-1">
      <a target="_blank" href="https://www.huffpost.com/entry/the-science-of-productivity_b_59cca423e4b02ba6621ffa99" class="card">
        <div class="thumb" style="background-image: url('assets/images/V1.png');"></div>
        <article>
          <h1>The Science of Productivity</h1>
          <p>Our society is suffering from an epidemic of unproductivity. How do we solve this? </p>
          <span>Vanessa Van Edwards</span>
        </article>
      </a>
    </div>
    <div class="item-2">
      <a target="_blank" href="https://www.tonyrobbins.com/productivity-performance/what-is-productivity-really/" class="card">
        <div class="thumb" style="background-image: url('assets/images/V2.png');"></div>
        <article>
          <h1>What is Productivity, Really?</h1>
          <p>How to improve productivity-and why you should.</p>
          <span>Tony Robbins</span>
        </article>
      </a>
    </div>
    <div class="item-3">
      <a target="_blank" href="https://dariusforoux.com/what-is-productivity/" class="card">
        <div class="thumb" style="background-image: url('assets/images/V3.png');"></div>
        <article>
          <h1>What Is Productivity?</h1>
          <p>A Definition & Proven Ways To Improve It.</p>
          <span>Darius Foroux</span>
        </article>
      </a>
    </div>
    <header>
        <h1>Productivity Statistics</h1>
    </header>
    <div class="item-4">
      <a target="_blank" href="https://dynamicsignal.com/2019/06/03/employee-productivity-statistics/" class="card">
        <div class="thumb" style="background-image: url('assets/images/V4.png');"></div>
        <article>
          <h1>Employee Productivity Statistics</h1>
          <p>And Everything You Need To Know</p>
          <span>G.I. Sanders</span>
        </article>
      </a>
    </div>
    <div class="item-5">
      <a target="_blank" href="https://www.formstack.com/blog/2019/workplace-productivity-statistics/" class="card">
        <div class="thumb" style="background-image: url('assets/images/V5.png');"></div>
        <article>
          <h1>Workplace Productivity Statistics That Will Blow Your Mind</h1>
          <p>Learn more about what might be diminishing productivity at your office!</p>
          <span>Lindsay McGuire</span>
        </article>
      </a>
    </div>
    <div class="item-6">
      <a target="_blank" href="https://www.forbes.com/sites/chriswestfall/2020/05/20/new-survey-shows-47-increase-in-productivity-3-things-you-must-do-when-working-from-home/#7c1442a180dc" class="card">
        <div class="thumb" style="background-image: url('assets/images/V6.png');"></div>
        <article>
          <h1>New Survey Shows 47% Increase In Productivity</h1>
          <p> Things You Must Do When Working From Home</p>
          <span>Chris Westfall</span>
        </article>
      </a>
    </div>
    <header>
        <h1>Work Productivity</h1>
    </header>
    <div class="item-7">
      <a target="_blank" href="https://www.nytimes.com/guides/business/how-to-improve-your-productivity-at-work" class="card">
        <div class="thumb" style="background-image: url('assets/images/V1.png');"></div>
        <article>
          <h1>How to Make the Most of Your Workday</h1>
          <p>Do you often find your workday spiraling out of control?</p>
          <span>Phyllis Korkki</span>
        </article>
      </a>
    </div>
    <div class="item-8">
      <a target="_blank" href="https://snacknation.com/blog/increase-productivity-at-work/" class="card">
        <div class="thumb" style="background-image: url('assets/images/V2.png');"></div>
      <article>
          <h1>33 Freakishly Effective Ways To Be More Productive At Work</h1>
          <p>It seems like more and more companies are adopting the motto “do more with less.” So where does that leave you?</p>
          <span>Barron Rosborough</span>
        </article>
      </a>
    </div>
    <div class="item-9">
      <a target="_blank" href="https://www.thebalancesmb.com/top-ways-to-increase-productivity-2948669" class="card">
        <div class="thumb" style="background-image: url('assets/images/V3.png');"></div>
        <article>
          <h1>How to Increase Productivity at Work</h1>
          <p>Imagine closing each workday with a satisfied sigh...</p>
          <span>Susan Wards</span>
        </article>
      </a>
    </div>
    <header>
        <h1>Home Productivity</h1>
    </header>
    <div class="item-10">
      <a target="_blank" href="https://www.lifesize.com/en/video-conferencing-blog/how-to-be-productive-at-home" class="card">
        <div class="thumb" style="background-image: url('assets/images/V4.png');"></div>
        <article>
          <h1>How to Stay Productive While Working from Home</h1>
          <p>Ways to successfully work from home during this time of uncertainty</p>
          <span>Dustin Smith</span>
        </article>
      </a>
    </div>
    <div class="item-11">
      <a target="_blank" href="https://snacknation.com/blog/increase-productivity-at-work/" class="card">
        <div class="thumb" style="background-image: url('assets/images/V5.png');"></div>
        <article>
          <h1>Work From Home Productivity Data</h1>
          <p>Why you (and your manager) shouldn’t be afraid of remote work</p>
          <span>Jory MacKay</span>
        </article>
      </a>
    </div>
    <div class="item-12">
      <a target="_blank" href="https://www.cnbc.com/2020/03/12/study-how-working-from-home-boosts-and-hurts-productivity-creativity.html" class="card">
        <div class="thumb" style="background-image: url('assets/images/V6.png');"></div>
        <article>
          <h1>Optimize Your Performance Working From Home</h1>
          <p>Working from home actually makes you better at some tasks and worse at others—here’s what you need to know</p>
          <span>Cory Stieg</span>
        </article>
      </a>
    </div>
  </div>
  <br /><br />