@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.pageHeader {
    font-family: 'Montserrat';
    text-align: center;
    color: #b3387a;
}

.hline1 {
    width: 30%;
    position: absolute;
    left: 1%;
    padding-top: 1%;
}

.hline2 {
    width: 30%;
    position: absolute;
    right: 1%;
    padding-top: 1%;
}


