<div class="logo-parent">
  <img src="assets/images/remotivity-logo.png" class="logo">
  <a class="logoutButton" type="button" (click)="logout()">Logout</a>
</div>
<header>
    <div class="container">
      <nav>
        <ul>
          <li><a routerLink="/home" routerLinkActive="active-nav">Calendar</a></li>   
          <li><a routerLink="/productivity" routerLinkActive="active-nav">Productivity</a></li>
          <li><a routerLink="/wellness" routerLinkActive="active-nav">Wellness</a></li>
          <li><a routerLink="/data" routerLinkActive="active-nav">Data</a></li>
          <li><a routerLink="/profile" routerLinkActive="active-nav">Profile</a></li>
        </ul>
      </nav>
    </div>
  </header>
