<!-- <br /><br />

<div class="box">
    <h4 class="boxheader">Links to help maintain/improve Wellness</h4>
    <br /><br /><br />
    <h4 class="section">About Wellness:</h4>
    <a target="_blank" href="https://www.perimeterhealthcare.com/about/news/the-importance-of-self-care/">
        https://www.perimeterhealthcare.com/about/news/the-importance-of-self-care/</a> <br /><br />
    <a target="_blank" href="https://isfglobal.org/what-is-self-care/">
        https://isfglobal.org/what-is-self-care/</a> <br /><br />
    
    <h4 class="section">Stress Statistics:</h4>
    <a target="_blank" href="https://www.stress.org/daily-life">
        https://www.stress.org/daily-life</a> <br /><br />
    <a target="_blank" href="https://www.stress.org/workplace-stress">
        https://www.stress.org/workplace-stress</a> <br /><br />

    <h4 class="section">Self-Care at Work:</h4>
    <a target="_blank" href="https://www.themuse.com/advice/this-selfcareercare-checklist-will-make-your-work-week-even-more-fulfilling">
        https://www.themuse.com/advice/this-selfcareercare-checklist-will-make-your-work-week-even-more-fulfilling</a> <br /><br />    
    <a target="_blank" href="https://www.inhersight.com/blog/insight-commentary/self-care-and-workplace-wellness-ideas?_n=112374154">
        https://www.inhersight.com/blog/insight-commentary/self-care-and-workplace-wellness-ideas?_n=112374154</a> <br /><br />
    
    <h4 class="section">Self-Care at Home:</h4>
    <a target="_blank" href="https://www.everydayhealth.com/self-care/start-a-self-care-routine/">
        https://www.everydayhealth.com/self-care/start-a-self-care-routine/</a> <br /><br />
    <a target="_blank" href="https://www.infocounselling.com/151-self-care-ideas-the-best-self-care-tips/">
        https://www.infocounselling.com/151-self-care-ideas-the-best-self-care-tips/</a> <br /><br />     
</div> -->

<br /><br />
<div class="band">
    <!-- FIRST SECTION************************************* -->
    <header>
        <h1>About Wellness</h1>
    </header>
    <div class="item-1">
      <a target="_blank" href="https://www.perimeterhealthcare.com/about/news/the-importance-of-self-care/" class="card">
        <div class="thumb" style="background-image: url('assets/images/V1.png');"></div>
        <article>
          <h1>The Importance of Self-Care</h1>
          <p>Self-care is a general term that describes everything you do deliberately for your mental, physical, and emotional well-being. As simple as it sounds, many of us pay little attention to self-care. </p>
          <span>Perimeter Healthcare</span>
        </article>
      </a>
    </div>
    <div class="item-2">
      <a target="_blank" href="https://www.tonyrobbins.com/productivity-performance/what-is-productivity-really/" class="card">
        <div class="thumb" style="background-image: url('assets/images/V2.png');"></div>
        <article>
          <h1>What is Self-Care?</h1>
          <p>How to improve productivity- and why you should</p>
          <span>International Self-Care Foundation</span>
        </article>
      </a>
    </div>
    <div class="item-3">
      <a target="_blank" href="https://www.activeminds.org/about-mental-health/self-care/" class="card">
        <div class="thumb" style="background-image: url('assets/images/V3.png');"></div>
        <article>
          <h1>Self-Care</h1>
          <p>Self-care is not selfish. You must fill your own cup before you can pour into others.</p>
          <span>active minds</span>
        </article>
      </a>
    </div>
    <!-- SECOND SECTION************************************* -->
    <header>
        <h1>Stress Statistics</h1>
    </header>
    <div class="item-4">
      <a target="_blank" href="https://www.stress.org/daily-life" class="card">
        <div class="thumb" style="background-image: url('assets/images/V4.png');"></div>
        <article>
          <h1>What is Stress?</h1>
          <p>“People are disturbed not by a thing, but by their perception of a thing.” </p>
          <span>The American Institute of Stress</span>
        </article>
      </a>
    </div>
    <div class="item-5">
      <a target="_blank" href="https://www.stress.org/workplace-stress" class="card">
        <div class="thumb" style="background-image: url('assets/images/V5.png');"></div>
        <article>
          <h1>Workplace Stress Statistics</h1>
          <p>Are you experiencing workplace stress?</p>
          <span>The American Institute of Stress</span>
        </article>
      </a>
    </div>
    <div class="item-6">
      <a target="_blank" href="https://www.apa.org/news/press/releases/stress/2020/report" class="card">
        <div class="thumb" style="background-image: url('assets/images/V6.png');"></div>
        <article>
          <h1>Stress in America</h1>
          <p>Stress in the Time of COVID-19</p>
          <span>American Psychological Association</span>
        </article>
      </a>
    </div>
    <!-- THIRD SECTION************************************* -->
    <header>
        <h1>Self-Care at Work</h1>
    </header>
    <div class="item-7">
      <a target="_blank" href="https://www.themuse.com/advice/this-selfcareercare-checklist-will-make-your-work-week-even-more-fulfilling" class="card">
        <div class="thumb" style="background-image: url('assets/images/V1.png');"></div>
        <article>
          <h1>Self-Career-Care Checklist</h1>
          <p>Make your work week even more fulfilling</p>
          <span>Laura Brothers</span>
        </article>
      </a>
    </div>
    <div class="item-8">
      <a target="_blank" href="https://www.inhersight.com/blog/insight-commentary/self-care-and-workplace-wellness-ideas?_n=117628873" class="card">
        <div class="thumb" style="background-image: url('assets/images/V2.png');"></div>
        <article>
          <h1>Workplace Wellness Ideas</h1>
          <p>For you, your team, and your company</p>
          <span>Diana Pressey</span>
        </article>
      </a>
    </div>
    <div class="item-9">
      <a target="_blank" href="https://www.mequilibrium.com/resources/how-to-practice-self-care-at-work/" class="card">
        <div class="thumb" style="background-image: url('assets/images/V3.png');"></div>
        <article>
          <h1>How to Practice Self-Care at Work</h1>
          <p>Work and self-care are often seen as competing forces. But it doesn’t have to be that way. </p>
          <span>mequilibrium</span>
        </article>
      </a>
    </div>
    <!-- FOURTH SECTION************************************* -->
    <header>
        <h1>Self-Care at Home</h1>
    </header>
    <div class="item-10">
      <a target="_blank" href="https://www.everydayhealth.com/self-care/start-a-self-care-routine/" class="card">
        <div class="thumb" style="background-image: url('assets/images/V4.png');"></div>
        <article>
          <h1>How to Start a Self-Care Routine You’ll Follow</h1>
          <p>Self-care is all about the everyday habits that help you take care of and nurture your health and well-being.</p>
          <span>Moira Lawler</span>
        </article>
      </a>
    </div>
    <div class="item-11">
      <a target="_blank" href="https://www.infocounselling.com/151-self-care-ideas-the-best-self-care-tips/" class="card">
        <div class="thumb" style="background-image: url('assets/images/V5.png');"></div>
        <article>
          <h1>Self Care Ideas</h1>
          <p>To increase mindfulness and avoid burnout</p>
          <span>Rachelle</span>
        </article>
      </a>
    </div>
    <div class="item-12">
      <a target="_blank" href="https://ibpf.org/articles/50-ways-to-start-practicing-self-care/" class="card">
        <div class="thumb" style="background-image: url('assets/images/V6.png');"></div>
        <article>
          <h1>50 Ways to Start Practicing Self-Care</h1>
          <p>When life gets busy it's easy to forget to take care of yourself. But practicing self-care can have great benefits for your mental health. </p>
          <span>International Bipolar Foundation</span>
        </article>
      </a>
    </div>
  </div>
  <br /><br />